{% load socialaccount %}
<html>
<body>
<h1>My Study Buddy</h1>
<p>View Account Details Below</p>
<p>Email: {{Email}}</p>
<p>First Name: {{FirstName}}</p>
<p>Last Name: {{LastName}}</p>
<p>Zoom Link:  <a href="{{ZoomLink}}">{{ZoomLink}}</a> </p>
<p>About Me: {{AboutMe}}</p>
<!-- implementing friends -->
<p>Friends: </p>
{% for friend in Friends.all %}
<li><a href="/studybuddy/{{friend.email}}/account/">{{ friend.email }}</a></li>
{% endfor %}
<p>Friend Requests:</p>
{% for friend_request in all_friend_requests %}
<h1>{{friend_request.from_user}}
  <a href="/accept_friend_request/{{friend_request.id}}/">
    accept friend request
  </a>
</h1>
{% endfor %}

  <a href="{% url 'studybuddy:editAccount' user.email%}">Edit Account Details</a>
  <!--check if in model
      if not add {{ user.username }}, {{ user.email }} as model instance and rest as blank-->
<p></p>
<h3>My Schedule </h3>

  {% if student.enrolledclass_set.all %}
                          {% for class in student.enrolledclass_set.all %}
                            <li><a href="{% url 'studybuddy:coursefeed' user.email class.course.subject class.course.course_number%}">{{ class.course.subject }} {{ class.course.catalog_number }}</a></li>
<!--                            <a href ="{% url 'studybuddy:coursefeed' user.email class.course.subject class.course.course_number% }">-->
<!--                                <a name="myBtn">{{ class}}</a></button>-->


                          {% endfor %}
                          {% else %}
                          <p class="text-center">You are currently not enrolled in any classes </p>
                          {% endif %}
<p></p>
<a href="{% url 'studybuddy:alldepartments' user.email%}"> Update Course Schedule</a>
</body>
</html>