
<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
<body>
<h1>My Study Buddy</h1>
<p>Edit Account Details Below</p>
<p>Email: {{Email}}</p>
<form action="{% url 'studybuddy:updateAccount' user.email%}" method="post">
  {% csrf_token %}
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname" value={{FirstName}}><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname" value={{LastName}}><br><br>
  <label for="zlink">Zoom Link:</label>
  <input type="url" id="zlink" name="zlink" value={{ZoomLink}}><br><br>
  <label for="blurb">About Me:</label>
  <textarea type="text" id="blurb" name="blurb" >{{AboutMe}} </textarea><br><br>
  <input type="submit" value="Update">
  <label for="uname">Username:</label>
  <input type="text" id="uname" name="uname" value="{{Username}}"><br><br>
</form>
</body>
</html>


